
  ul.a {
    list-style-type: circle;
  }
  .text{
    display: inline-block;
    margin-left: 5rem;
    margin-top: 2rem;
    position: absolute;
    color: #56627A;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;   
    font-size: 45px;
    line-height: 42px;
    text-transform: uppercase;
    /*text-shadow: 0 2px white, 0 3px #777;*/
  } 
  .textt{
    display: inline-block;
    margin-top: 16rem;
    color: #56627A;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;   
    font-size: 23px;
    line-height: 42px;
    text-transform: uppercase;
    /*text-shadow: 0 2px white, 0 2px #777;*/
  } 
  .txtn{
    display: inline-block;
    margin-left: 5rem;
    color: #130d05;
    font-weight: normal;
    font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;  
    font-size: 40px;
    line-height: 42px;
    text-transform: uppercase;
    
  }
  @media screen and (max-width: 600px) {.text {display: none;}}
  @media screen and (max-width: 600px) {.my {display: none;}}
  @media screen and (max-width: 600px) {.my {display: none;}}
