.callout {
    position: fixed;
    bottom: 35px;
    margin-left: 20px;
    max-width: 300px;
    border-left: 6px solid #b39a48;
  }
  
  .callout-header {
    padding: 25px 15px;
    background: #555;
    font-size: 30px;
    color: white;
  }
  
  .callout-container {
    padding: 15px;
    background-color: #ccc;
    color: rgb(228, 152, 13)
  }
  
  .closebtn {
    position: absolute;
    top: 5px;
    right: 11px;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: lightgrey;
  }
