.callout {
    position: fixed;
    bottom: 35px;
    margin-left: 20px;
    max-width: 300px;
  }
  
  .callout-header {
    padding: 25px 15px;
    background: rgb(153, 33, 93);
    font-size: 30px;
    color: white;
  }
  
  .callout-container {
    padding: 15px;
    background-color: rgb(153, 33, 93);
    color:rgb(153, 33, 93)
  }
  
  .closebtn {
    position: absolute;
    top: 5px;
    right: 11px;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: lightgrey;
  }
